# Azure OpenAI Service Endpoint
AZURE_OPENAI_ENDPOINT=

# Azure OpenAI API Key
AZURE_OPENAI_API_KEY=

# Azure OpenAI Model Name
AZURE_OPENAI_MODEL_NAME=

# Azure OpenAI API Version
AZURE_OPENAI_API_VERSION=

# Azure OpenAI Embedding Model Name
AZURE_OPENAI_EMBEDDING_MODEL_NAME=